<div id="<%= dom_id task %>" class="task-card">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Container:</strong>
    <%= task.container.tag %>
  </p>

    <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
