<%= javascript_include_tag 'contextMenu' %>
<div id="<%= dom_id container %>" class="container-card" style="border-top: 10px solid <%= container.color %>" data-container-id="<%= container.id %>" oncontextmenu="showCombinedContextMenu(event)">
  <div class='container-title'>
    <b><%= container.tag %></b>
    <div>
      <span><%= link_to 'Edit', edit_container_path(container), class: 'button' %></span>
      <span> <%= link_to 'New Task', new_task_path, class: 'button' %>
    </div>
  </div>
  <% container.tasks.order(:status).group_by(&:status).each do |status, tasks| %>
      <div class="status-card" id="status-card-<%= container %>-<%= status %>" data-expanded="true">
        <div class="status-card-header" onclick="toggleStatusCard('<%= container %>-<%= status %>')">
          <span><b><%= status %></b> </span>
          <span class="caret">&gt;</span>
          <span class="task-count"><%= tasks.count %> Tasks</span>
        </div>
      <div class="tasks-container">
        <div class="tasks-status-wrapper">
          <% tasks.each do |task| %>
            <%= render task %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="context-menu-container-<%= container.id %>" class="hidden">
  <ul>
    <li id="new-task-<%= container.id %>"><span>Add new task</span></li>
    <li><%= link_to "Edit container", edit_container_path(container), class: 'status-option'%></li>
    <li><%= button_to "Delete container", container, method: :delete, class: 'context-menu-delete' %></li>
  </ul>
</div>
