<h1><%= current_user.email %></h1>
<% @containers.each do |container| %>
  <h2><%= container.tag %></h2>
  <% container.tasks.each do |task| %>
    <p>
      <%= task.title %><br>
      <%= task.description %><br>
      <%= task.status %>
    </p>
  <% end %>
<% end %>

