<%= javascript_include_tag 'tasks' %>
<%= render 'shared/navbar', show_home_page: false %>

<div class="container-wrapper">
  <% @containers.each do |container| %>
    <div class="container-card">
      <div>
        <b><%= container.tag %></b>
        <span><%= link_to 'Edit', edit_container_path(container), class: 'button' %></span>
        <span> <%= link_to 'New Task', new_task_path, class: 'button' %>
      </div>
      <% container.tasks.order(:status).group_by(&:status).each do |status, tasks| %>
        <div class="status-card" id="status-card-<%= container %>-<%= status %>" data-expanded="true">
          <div class="status-card-header" onclick="toggleStatusCard('<%= container %>-<%= status %>')">
            <%= status %>
            <span class="caret">&#9660;</span>
            <span class="task-count"><%= tasks.count %> Tasks</span>
          </div>
           <div class="tasks-container">
            <% tasks.each do |task| %>
              <div class="task-card" data-task-id="<%= task.id %>" oncontextmenu="showContextMenu(event, <%= task.id %>)">
                <b><%= task.title %></b><br>
                <%= task.description %><br>
                <%= link_to 'Edit Task', edit_task_path(task), class: 'button' %>
              </div>
              <div id="context-menu-<%= task.id %>" class="context-menu">
                <b>Task options</b><hr>
                <ul>
                  <% Task.statuses.keys.excluding(status).each do |status_option| %>
                    <li class="status-option<%= ' current-status' if status_option == status %>"><%= status_option %></li>
                  <% end %>
                  <hr>
                  <li id="edit-task-<%= task.id %>"><span>Edit Task</span></li>
                  <li id="delete-task-<%= task.id %>"><span>Delete Task</span></li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="floating-buttons">
  <%= link_to 'New Container', new_container_path, class: 'floating-button' %>
</div>
