<div class="navbar">
  <div class="navbar-email"><%= current_user.email %></div>
  <%= link_to 'New Container', new_container_path, class: 'button' %>
  <%= link_to 'New Task', new_task_path, class: 'button' %>
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-button' %>
</div>

<div class="container-wrapper">
  <% @containers.each do |container| %>
    <div class="container-card">
      <h2><%= container.tag %></h2>

      <% container.tasks.order(:status).group_by(&:status).each do |status, tasks| %>
        <div class="status-card">
          <%= status %>
          <% tasks.each do |task| %>
            <div class="task-card">
              <b><%= task.title %></b><br>
              <%= task.description %><br>
              <%= link_to 'Edit Task', edit_task_path(task), class: 'button' %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
